In [38]:
import os
import requests
import pandas as pd
import time
import datetime
import pandas as pd
import eurostat
import yfinance as yf

In [40]:
import pandas as pd
import requests

#api_key = fred_key
api_key = 'your api key'
# Define the FRED API endpoint
base_url = 'https://api.stlouisfed.org/fred/'

'''
Get observation data from the FRED API
'''

# Assign endpoint
obs_endpoint = 'series/observations'

# Assign parameters
series_id = 'PCE'
start_date = '2021-01-01'
end_date = '2024-03-21'
ts_frequency = 'q'
ts_units = 'pca'

obs_params = {
    'series_id': series_id,
    'api_key': api_key,
    'file_type': 'json',
    'observation_start': start_date,
    'observation_end': end_date,
    'frequency': ts_frequency,
    'units': ts_units
}

# Make request to FRED API
response = requests.get(base_url + obs_endpoint, params=obs_params)
data = response.json()['observations']
df = pd.DataFrame(data)

print(df)

df.to_csv('fred.csv', index=False)

   realtime_start realtime_end        date     value
0      2024-03-27   2024-03-27  2021-01-01  14.01823
1      2024-03-27   2024-03-27  2021-04-01  20.70939
2      2024-03-27   2024-03-27  2021-07-01   8.64871
3      2024-03-27   2024-03-27  2021-10-01  11.06989
4      2024-03-27   2024-03-27  2022-01-01   7.68746
5      2024-03-27   2024-03-27  2022-04-01   9.34041
6      2024-03-27   2024-03-27  2022-07-01   6.32559
7      2024-03-27   2024-03-27  2022-10-01   5.37218
8      2024-03-27   2024-03-27  2023-01-01   8.10489
9      2024-03-27   2024-03-27  2023-04-01   3.31210
10     2024-03-27   2024-03-27  2023-07-01   5.77835
11     2024-03-27   2024-03-27  2023-10-01   4.83930
12     2024-03-27   2024-03-27  2024-01-01         .

In [41]:
import pandas as pd
import time
import datetime

ticker = 'AAPL'
interval = '3mo'  # Monthly interval

# Set start and end dates
start_date = datetime.datetime(2021, 1, 1)
end_date = datetime.datetime(2024, 12, 31)

# Convert dates to Unix timestamps
period1 = int(time.mktime(start_date.timetuple()))
period2 = int(time.mktime(end_date.timetuple()))

# Construct the query URL with the specified interval, start date, and end date
query_string = f'https://query1.finance.yahoo.com/v7/finance/download/{ticker}?interval={interval}&period1={period1}&period2={period2}'

# Read the data from Yahoo Finance
yahoo_data = pd.read_csv(query_string)

# Save the DataFrame to a CSV file
yahoo_data.to_csv('yahoo_data.csv', index=False)

# Print the DataFrame
print(yahoo_data)

          Date        Open        High         Low       Close   Adj Close  \
0   2020-12-01  133.520004  145.089996  118.389999  121.260002  119.003754
1   2021-03-01  123.750000  137.070007  116.209999  124.610001  122.474159
2   2021-06-01  125.080002  153.490005  123.129997  151.830002  149.481094
3   2021-09-01  152.830002  165.699997  138.270004  165.300003  162.986496
4   2021-12-01  167.479996  182.940002  152.000000  165.119995  163.046646
5   2022-03-01  164.699997  179.610001  132.610001  148.839996  147.158310
6   2022-06-01  149.899994  176.149994  129.039993  157.220001  155.672028
7   2022-09-01  156.639999  164.259995  134.369995  148.029999  146.776108
8   2022-12-01  148.210007  157.380005  124.169998  147.410004  146.403809
9   2023-03-01  146.830002  179.350006  143.899994  177.250000  176.308914
10  2023-06-01  177.699997  198.229996  171.960007  187.869995  187.130997
11  2023-09-01  189.490005  192.929993  165.669998  189.949997  189.458313
12  2023-12-01  190.330002  199.619995  179.250000  180.750000  180.519653
13  2024-03-01  179.550003  180.529999  168.490005  169.710007  169.710007
14  2024-03-27  170.419998  172.440002  170.110001  172.392502  172.392502

        Volume
0   4074117600
1   6252210600
2   4987167900
3   5053943300
4   6180729000
5   6269636000
6   4706464800
7   5677710200
8   4426582600
9   3765131800
10  3615606900
11  3609892300
12  3411621100
13  1306763900
14     7601383

In [42]:
# Retrieve data for dataset 'teina010'
euro_stat = eurostat.get_data_df('teina010')
# Save the DataFrame to a CSV file
#euro_stat['unit'] = 'Million euro (SCA)'
euro_stat['percent_change 2021-Q1'] = euro_stat['2021-Q1'].pct_change(periods=1) * 100
euro_stat.to_csv('euro.csv', index=True)  # Setting index to True to include the datetime index
print(euro_stat.head())

  freq na_item s_adj         unit geo\TIME_PERIOD   2021-Q1   2021-Q2  \
0    Q    B1GQ   SCA  MIO_EUR_SCA              AT   95383.4   99733.9
1    Q    B1GQ   SCA  MIO_EUR_SCA              BE  121808.0  125008.0
2    Q    B1GQ   SCA  MIO_EUR_SCA              BG   16792.3   17153.9
3    Q    B1GQ   SCA  MIO_EUR_SCA              CH  163812.1  168367.3
4    Q    B1GQ   SCA  MIO_EUR_SCA              CY    5978.3    6083.4

    2021-Q3   2021-Q4   2022-Q1   2022-Q2   2022-Q3   2022-Q4   2023-Q1  \
0  104884.8  105111.6  107591.1  111215.2  113459.9  114903.5  119306.4
1  128952.0  132161.0  134767.0  137640.0  139953.0  141685.0  144744.0
2   18153.1   18742.9   19772.3   20827.2   21887.6   22970.9   23612.0
3  174507.0  180175.1  185313.6  190515.1  201990.8  200685.3  199985.9
4    6327.8    6538.1    6719.9    6862.0    7085.6    7109.7    7313.0

    2023-Q2   2023-Q3   2023-Q4  percent_change 2021-Q1
0  118650.4  119329.7  120234.7                     NaN
1  144627.0  146549.0  147212.0               27.703563
2   23021.6   23277.7   24106.0              -86.214124
3  202432.5  206927.7  209284.7              875.519137
4    7319.2    7532.8    7592.1              -96.350514

In [62]:
pd.set_option('display.max_columns', None)  # Show all columns
pd.set_option('display.max_rows', None)     # Show all rows

# Read CSV files into DataFrames
df1 = pd.read_csv('fred.csv')
df2 = pd.read_csv('yahoo_data.csv')
df3 = pd.read_csv('euro.csv')

# Reset indexes of DataFrames
df1.reset_index(drop=True, inplace=True)
df2.reset_index(drop=True, inplace=True)
df3.reset_index(drop=True, inplace=True)

# Concatenate the DataFrames horizontally
merged_df = pd.concat([df1, df2, df3], axis=1)
merged_df.drop(columns=['realtime_start', 'realtime_end', 'High', 'Low', 'Adj Close','Volume', 'Date'], inplace=True)
#merged_df['merged_column'] = df['column1'] + df['column2']
# Save the combined DataFrame to a new CSV file
merged_df.to_csv('merged.csv', index=False)

print("Merged CSV file saved successfully.")

Merged CSV file saved successfully.

In [63]:
merged_df.to_csv

<bound method NDFrame.to_csv of           date     value        Open       Close  Unnamed: 0 freq na_item  \
0   2021-01-01  14.01823  133.520004  121.260002           0    Q    B1GQ
1   2021-04-01  20.70939  123.750000  124.610001           1    Q    B1GQ
2   2021-07-01   8.64871  125.080002  151.830002           2    Q    B1GQ
3   2021-10-01  11.06989  152.830002  165.300003           3    Q    B1GQ
4   2022-01-01   7.68746  167.479996  165.119995           4    Q    B1GQ
5   2022-04-01   9.34041  164.699997  148.839996           5    Q    B1GQ
6   2022-07-01   6.32559  149.899994  157.220001           6    Q    B1GQ
7   2022-10-01   5.37218  156.639999  148.029999           7    Q    B1GQ
8   2023-01-01   8.10489  148.210007  147.410004           8    Q    B1GQ
9   2023-04-01   3.31210  146.830002  177.250000           9    Q    B1GQ
10  2023-07-01   5.77835  177.699997  187.869995          10    Q    B1GQ
11  2023-10-01   4.83930  189.490005  189.949997          11    Q    B1GQ
12  2024-01-01         .  190.330002  180.750000          12    Q    B1GQ
13         NaN       NaN  179.550003  169.710007          13    Q    B1GQ
14         NaN       NaN  170.419998  172.392502          14    Q    B1GQ
15         NaN       NaN         NaN         NaN          15    Q    B1GQ
16         NaN       NaN         NaN         NaN          16    Q    B1GQ
17         NaN       NaN         NaN         NaN          17    Q    B1GQ
18         NaN       NaN         NaN         NaN          18    Q    B1GQ
19         NaN       NaN         NaN         NaN          19    Q    B1GQ
20         NaN       NaN         NaN         NaN          20    Q    B1GQ
21         NaN       NaN         NaN         NaN          21    Q    B1GQ
22         NaN       NaN         NaN         NaN          22    Q    B1GQ
23         NaN       NaN         NaN         NaN          23    Q    B1GQ
24         NaN       NaN         NaN         NaN          24    Q    B1GQ
25         NaN       NaN         NaN         NaN          25    Q    B1GQ
26         NaN       NaN         NaN         NaN          26    Q    B1GQ
27         NaN       NaN         NaN         NaN          27    Q    B1GQ
28         NaN       NaN         NaN         NaN          28    Q    B1GQ
29         NaN       NaN         NaN         NaN          29    Q    B1GQ
30         NaN       NaN         NaN         NaN          30    Q    B1GQ
31         NaN       NaN         NaN         NaN          31    Q    B1GQ
32         NaN       NaN         NaN         NaN          32    Q    B1GQ
33         NaN       NaN         NaN         NaN          33    Q    B1GQ
34         NaN       NaN         NaN         NaN          34    Q    B1GQ
35         NaN       NaN         NaN         NaN          35    Q    B1GQ
36         NaN       NaN         NaN         NaN          36    Q    B1GQ

   s_adj         unit geo\TIME_PERIOD    2021-Q1    2021-Q2    2021-Q3  \
0    SCA  MIO_EUR_SCA              AT    95383.4    99733.9   104884.8
1    SCA  MIO_EUR_SCA              BE   121808.0   125008.0   128952.0
2    SCA  MIO_EUR_SCA              BG    16792.3    17153.9    18153.1
3    SCA  MIO_EUR_SCA              CH   163812.1   168367.3   174507.0
4    SCA  MIO_EUR_SCA              CY     5978.3     6083.4     6327.8
5    SCA  MIO_EUR_SCA              CZ    56513.8    59162.0    61047.1
6    SCA  MIO_EUR_SCA              DE   872453.0   892524.0   916023.0
7    SCA  MIO_EUR_SCA              DK    81787.3    84749.1    86867.3
8    SCA  MIO_EUR_SCA              EA  2986117.6  3056559.2  3150694.6
9    SCA  MIO_EUR_SCA            EA19  2986117.6  3056559.2  3150694.6
10   SCA  MIO_EUR_SCA            EA20  3000137.0  3070729.8  3165508.3
11   SCA  MIO_EUR_SCA              EE     7343.1     7593.7     7897.5
12   SCA  MIO_EUR_SCA              EL    42945.9    44271.9    46104.6
13   SCA  MIO_EUR_SCA              ES   293369.0   297904.0   308358.0
14   SCA  MIO_EUR_SCA       EU27_2020  3518308.5  3603550.7  3712960.6
15   SCA  MIO_EUR_SCA              FI    60543.0    62115.0    63273.0
16   SCA  MIO_EUR_SCA              FR   608581.3   616409.8   634762.7
17   SCA  MIO_EUR_SCA              HR    14043.2    14167.3    14793.4
18   SCA  MIO_EUR_SCA              HU    35756.8    38143.3    39218.4
19   SCA  MIO_EUR_SCA              IE   103379.6   106843.4   111266.8
20   SCA  MIO_EUR_SCA              IT   437905.7   449726.4   463766.9
21   SCA  MIO_EUR_SCA              LT    13162.9    13892.2    14406.1
22   SCA  MIO_EUR_SCA              LU    17264.3    17600.3    18192.5
23   SCA  MIO_EUR_SCA              LV     7827.9     8115.4     8478.3
24   SCA  MIO_EUR_SCA              ME     1174.1     1200.4     1262.5
25   SCA  MIO_EUR_SCA              MK     2864.4     2951.2     2975.9
26   SCA  MIO_EUR_SCA              MT     3671.0     3714.1     3918.2
27   SCA  MIO_EUR_SCA              NL   208153.9   215422.6   221735.7
28   SCA  MIO_EUR_SCA              NO    91941.8    99015.6   106594.7
29   SCA  MIO_EUR_SCA              PL   138204.1   142514.1   145953.6
30   SCA  MIO_EUR_SCA              PT    51269.4    53344.2    55173.2
31   SCA  MIO_EUR_SCA              RO    58065.3    58701.9    60702.7
32   SCA  MIO_EUR_SCA              RS    12602.0    13053.8    13562.1
33   SCA  MIO_EUR_SCA              SE   130858.8   132135.0   135157.2
34   SCA  MIO_EUR_SCA              SI    12432.9    12799.3    13198.0
35   SCA  MIO_EUR_SCA              SK    24122.1    24861.0    25366.1
36   SCA  MIO_EUR_SCA              TR   173400.9   162498.0   184342.4

      2021-Q4    2022-Q1    2022-Q2    2022-Q3    2022-Q4    2023-Q1  \
0    105111.6   107591.1   111215.2   113459.9   114903.5   119306.4
1    132161.0   134767.0   137640.0   139953.0   141685.0   144744.0
2     18742.9    19772.3    20827.2    21887.6    22970.9    23612.0
3    180175.1   185313.6   190515.1   201990.8   200685.3   199985.9
4      6538.1     6719.9     6862.0     7085.6     7109.7     7313.0
5     61487.0    66403.9    67956.7    70346.2    71521.5    76349.7
6    927303.0   948890.0   960361.0   969983.0   990946.0  1013577.0
7     89556.6    91492.1    95709.6    98244.7    95174.5    95808.2
8   3200919.8  3266607.8  3330187.4  3379745.5  3447165.1  3540212.2
9   3200919.8  3266607.8  3330187.4  3379745.5  3447165.1  3521767.0
10  3216371.2  3282739.5  3347092.5  3396817.6  3465045.6  3540212.2
11     8289.9     8651.4     8933.8     9185.1     9214.2     9394.7
12    48102.9    49936.9    50944.5    52014.1    52917.3    53865.7
13   322659.0   325592.0   333308.0   337389.0   350088.0   360091.0
14  3781863.1  3863086.5  3947529.0  4010381.0  4082204.6  4176383.7
15    64729.0    65499.0    66478.0    67471.0    68235.0    69268.0
16   639806.1   644573.7   653158.2   666276.5   674281.3   686393.4
17    15427.9    16115.2    16893.6    17063.9    17872.5    18434.7
18    40840.0    42851.5    42076.7    41817.6    42224.3    45667.3
19   111861.5   120337.8   126164.0   129467.8   130004.4   127451.3
20   468240.9   477492.3   489293.9   492359.8   504222.3   516747.9
21    15035.1    16040.5    16708.7    17438.2    17272.8    17744.8
22    19216.7    19186.9    19413.7    19650.6    19527.7    19843.4
23     8794.6     9089.2     9477.8     9786.6     9888.5    10083.6
24     1316.4     1386.0     1459.9     1500.0     1571.2     1637.9
25     3041.0     3219.5     3234.2     3268.5     3303.2     3303.1
26     4015.8     4118.5     4328.8     4427.0     4553.8     4611.4
27   224766.5   231556.2   236574.2   242406.3   248356.3   253650.6
28   124132.7   135593.3   142251.7   159060.1   128438.6   120613.1
29   149696.7   155561.8   161893.7   165415.3   171150.2   176884.5
30    56266.5    58568.4    60062.7    60950.8    62759.0    65235.5
31    63338.3    66939.1    70038.9    72371.2    73936.9    78061.0
32    14020.0    14170.4    14925.0    15291.5    15892.6    16503.2
33   141360.8   136715.7   141294.6   142921.8   139812.2   139725.4
34    13643.0    13580.3    14102.1    14587.3    14746.1    15272.2
35    25906.5    26322.7    27088.9    27764.7    28468.9    29389.2
36   171889.4   178524.9   210759.3   226206.5   240632.1   257224.4

      2023-Q2    2023-Q3    2023-Q4  percent_change 2021-Q1
0    118650.4   119329.7   120234.7                     NaN
1    144627.0   146549.0   147212.0               27.703563
2     23021.6    23277.7    24106.0              -86.214124
3    202432.5   206927.7   209284.7              875.519137
4      7319.2     7532.8     7592.1              -96.350514
5     77967.1    76316.2    75255.9              845.315558
6   1023299.0  1032395.0  1053040.0             1443.787535
7     93472.3    91112.0    94286.0              -90.625592
8   3579879.2  3601830.2  3650361.8             3551.077368
9   3561003.4  3582683.1  3630974.5                0.000000
10  3579879.2  3601830.2  3650361.8                0.469486
11     9396.8     9404.3     9486.5              -99.755241
12    55151.2    55457.4    55666.9              484.846999
13   362015.0   364906.0   374877.0              583.112940
14  4225273.1  4247584.7  4313506.1             1099.277531
15    69827.0    69487.0    69043.0              -98.279201
16   701536.0   706059.0   712521.8              905.205061
17    18863.9    19133.9    19370.8              -97.692469
18    49673.0    49879.3    51431.6              154.620030
19   129333.7   123607.3   123308.7              189.118713
20   519914.1   523811.1   527492.2              323.590051
21    17987.5    18136.9    18165.2              -96.994125
22    20101.0    19811.6    19883.8               31.158787
23    10050.3    10058.9    10181.3              -54.658457
24     1712.6     1759.0     1772.1              -85.001086
25     3331.2     3469.2     3536.6              143.965591
26     4790.4     5005.1     4972.2               28.159475
27   257380.6   260191.3   263844.5             5570.223372
28   110836.3   108403.5   110290.4              -55.829893
29   186166.7   189637.0   196499.7               50.316940
30    66324.8    66675.0    67267.6              -62.903127
31    79103.7    81320.4    83688.5               13.255275
32    17203.2    17568.1    18198.8              -78.296849
33   136152.9   134524.4   138269.2              938.397080
34    15715.9    15881.7    16426.4              -90.498996
35    30116.1    30913.1    31737.9               94.018290
36   249370.6   251984.5        NaN              618.846618  >

In [55]:
print("Shape of df2:", df2.shape)

Shape of df2: (22, 7)

In [49]:
print("Columns of DataFrame 1:")
print(df1.columns)

print("Columns of DataFrame 2:")
print(df2.columns)

print("Columns of DataFrame 3:")
print(df3.columns)

Columns of DataFrame 1:
Index(['realtime_start', 'realtime_end', 'date', 'value'], dtype='object')
Columns of DataFrame 2:
Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')
Columns of DataFrame 3:
Index(['Unnamed: 0', 'freq', 'na_item', 's_adj', 'unit', 'geo\TIME_PERIOD',
       '2021-Q1', '2021-Q2', '2021-Q3', '2021-Q4', '2022-Q1', '2022-Q2',
       '2022-Q3', '2022-Q4', '2023-Q1', '2023-Q2', '2023-Q3', '2023-Q4',
       'percent_change 2021-Q1'],
      dtype='object')